@use './1-abstracts/functions' as fu;
@use './1-abstracts/fonts' as fo;
@use './1-abstracts/mixins' as m;
@use './1-abstracts/colors' as c;

@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --btn-input-height: #{fu.toRem(46px)};
    --btn-input-border-radius: #{fu.toRem(30px)};
    --transition: 250ms;
    --container-width: 89%;
    --container-max-width: #{fu.toRem(1440px)};
    --wrapper-child-width: calc(var(--container-width) * calc(89 / 100));
    --mb-primary-hero-height: #{fu.toRem(720px)};
    --mb-min-width: #{fu.toRem(375px)};
    --section-max-width: #{fu.toRem(1132px)};
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    
    // background-image: linear-gradient(c.$dark-blue1-intro fu.toRem(719px), c.$dark-blue2-main fu.toRem(719px));
    background-image: linear-gradient(c.$dark-blue1-intro fu.toRem(768px), c.$dark-blue2-main fu.toRem(768px));
}

img, input {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: var(--container-width);
    min-width: var(--mb-min-width);
    max-width: var(--container-max-width);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    // background-color: c.$dark-blue1-intro;
    // background-image: linear-gradient(c.$dark-blue1-intro fu.toRem(700px), c.$dark-blue2-main fu.toRem(700px));

}

.wrapper {
    width: calc(100vw - 17px);
    min-width: var(--mb-min-width);
    // margin-left: calc(calc(-50vw + 50%) + 8px);
}

.illustration, .icon {
    
    img {
        width: 100%;
    }
}