@use './1-abstracts/fonts' as fo;
@use './1-abstracts/functions' as fu;
@use './1-abstracts/mixins' as m;
@use './1-abstracts/colors' as c;

:root {
    --color: white;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--color);
    margin: 0;

    &:hover {
        font-weight: 700;
    }
}

h1, h2, h3, p {
    margin: 0;
}

.container {
    font-family: fo.$font-opensans;
    color: var(--color);
    text-align: center;
}

p.para {
    font-size: fo.$size-xsm;
}

.btn {
    color: var(--color);
    font-family: fo.$font-raleway;
    font-weight: 700;
}

.navbar {
    a {
        font-size: fo.$size-xsm;
    }
}

.features {

    .headline {

        @include m.breakpoint-up(large) {
            font-size: fo.$size-sm;
        }
    }
}

.secondary {
    text-align: left;

    @include m.breakpoint-up(small) {
        text-align: center;
    }

    @include m.breakpoint-up(large) {
        text-align: left;
    }

    .headline {

        @include m.breakpoint-up(large) {
            font-size: fo.$size-xxlg;
        }
    }

    .para {
        font-size: fo.$size-xxsm;
    }

    a {
        color: c.$cyan;
        font-size: fo.$size-xsm;
        transition: color var(--transition) ease-in-out;
    }

    .link:hover {
        a {
            font-weight: 400;
            color: white;
        }
    }
}

.card {
    text-align: left;
    font-size: fo.$size-xxxsm;

    p {
        font-size: fo.$size-xxsm;
        line-height: 1.5em;
    }
    
    .info {

        .name {
            font-weight: 700;
            font-size: fo.$size-xxsm;
        }

        .role {
            font-size: fo.$size-xxxsm;
        }
    }
}

.subscription {

    .headline {
        font-weight: 700;
        font-size: fo.$size-sm;

        @include m.breakpoint-up(small) {
            font-size: fo.$size-md;
        }

        @include m.breakpoint-up(xmedium) {
            font-size: fo.$size-lg;
        }

        @include m.breakpoint-up(large) {
            font-size: fo.$size-xlg;
        }
    }

    .para {
        line-height: 1.6em;
    }

    input {
        font-size: fo.$size-xxsm;
    }

    .error-msg {
        font-size: fo.$size-xxsm;
        color: c.$light-red;

        @include m.breakpoint-up(xlarge) {
            text-align: left;
        }
    }

    .btn {
        font-size: fo.$size-xxsm;
    }
}

.footer {

    .sub-logo {
        font-size: fo.$size-xsm;
        text-align: left;

        .para {

            @include m.breakpoint-up(large) {
                font-size: fo.$size-xxsm;
            }

            @include m.breakpoint-up(xxlarge) {
                font-size: fo.$size-xsm;
            }
        }

        .links {

            @include m.breakpoint-up(small) {
                text-align: center;
            }
        }
    }

    .tooltip {
        font-size: fo.$size-xxsm;
    }
}