@use '../1-abstracts/functions' as fu;
@use '../1-abstracts/colors' as c;
@use '../1-abstracts/mixins' as m;

.header {
    align-self: center;
    padding-top: fu.toRem(24px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: c.$dark-blue1-intro ;
    width: 88%;
    
    .logo {
        cursor: pointer;

        @include m.breakpoint-up(xmedium) {
            width: 17%;
            max-width: fu.toRem(140px);
        }
    }
}