// === Primary ===

$dark-blue1-intro: hsl(217, 28%, 15%);
$dark-blue2-main: hsl(218, 28%, 13%);
$dark-blue3-footer: hsl(216, 53%, 9%);
$dark-blue4-testimonial: hsl(219, 30%, 18%);


// === Accent ===

$cyan:hsl(176, 68%, 64%);
$blue:hsl(198, 60%, 50%);
$light-red:hsl(0, 100%, 63%);

// === Neutral ===

$white: hsl(0, 0%, 100%);


// === Custom ===