// === Families ===

// === Heading ===
$font-raleway: "Raleway";
$font-opensans: "Open Sans";

// == Size ==
$size-xxxsm: 0.625rem; //10px
$size-xxsm: 0.75rem; // 12px
$size-xsm: 0.875rem; // 14px
$size-sm: 1rem; // 16px
$size-md: 1.125rem; // 18px
$size-lg: 1.25rem; // 20px
$size-xlg: 1.5rem; // 24px
$size-xxlg: 1.75rem; // 28px
$size-xxxlg: 2rem; // 32px
$size-xxxxlg: 2.5rem; // 40px
$size-xxxxxlg: 3rem; // 48px
$size-xxxxxxlg: 3.5rem; // 56px
$size-xxxxxxxlg: 4rem; // 64px
$size-xxxxxxxxlg: 5rem; // 80px